<!DOCTYPE html>
<html lang="en">
    <head>
        <title>dojos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form name='newdojoform' action=''>
            <p>Please Register</p>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name">
        
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name">
        
            <label id="email">Email:</label>
            <input type="text" id="email" name="email">    
        </form>
    </body>
</html>