<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h2>
        ninjas galore!
    </h2>
    <h3>
        although ninja wear black and have good stealth, a few photos of ninja are known to exist
    </h3>
    <img src="ninja1.png" alt="ninja pic">
    <img src="ninja2.jpg" alt="ninja pic">    
    <img src="ninja3.png" alt="ninja pic">
    </body>
</html>